<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}"> 
        <script src="{{ url_for('static', filename='logic.js') }}" defer></script>
    </head>
    
    <body>
        <h1>
            Password Tester
        </h1>
    </body>

    <section>
    <p>Welcome to the password tester educational webpage. </p>
        <p>Here you'll get an idea of how to create a strong password, and the reason for the length for the password. </p>
       
        <p>This is especially important now, since we're entering quantum computing era, that will make it easier to crack passwords, and therefore we need to create stronger passwords.</p>
        <p>The cryptography that is used to protect your password will be more suceptible for attacks, when a quantum computer is used! </p>
    </p>
        <h3>Instructions when using this page</h3>
        <p>
        This allows you to check the strength of your password.
        <p>Here you should only fill in a password example for educational purposes.</p>
        <p>This webpage is only here to give you an idea of how you should create a strong password.</p>
    </section>

    <div>
        <input type="password" id="passwordInput" placeholder="Fill in example here"> 
        <button type="button" id="buttonid">Submit</button>
    </div>

</html>